/* Chess table */

:root {
  --square: 30px;
}

.table {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, var(--square));
  grid-template-rows: repeat(8, var(--square));
  gap: 0;
}

.black-square {
  background-color: #fff2f2;
  width: var(--square);
  height: var(--square);
}

.white-square {
  background-color: crimson;
  width: var(--square);
  height: var(--square);
}
