@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&family=PT+Mono&family=Zeyada&display=swap");

* {
  padding: 0;
  margin: 0;
}

.noto-serif {
  font-family: "Noto Serif TC";
}

.pt-mono {
  font-family: "PT Mono";
}

.zeyada {
  font-family: "Zeyada";
}

.weight-500 {
  font-weight: 500;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: 1.2rem;
}

.larger {
  font-size: 1.5rem;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-carbon {
  background-color: var(--carbon-gruvbox);
}

.bg-grey-gruvbox {
  background-color: var(--grey-gruvbox);
}

.p-05 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.m-05 {
  margin: 0.1rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-r-1 {
  margin-right: 1rem;
}

.m-r-2 {
  margin-right: 2rem;
}

.m-l-1 {
  margin-left: 1rem;
}

.m-l-2 {
  margin-left: 2rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-t-05 {
  margin-top: 0.5rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.pointer {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-thirth {
  grid-template-columns: repeat(3, 33%);
}

.grid-fourth {
  grid-template-columns: repeat(4, 25%);
}

.grid-fifth {
  grid-template-columns: repeat(5, 20%);
}

.grid-75-25 {
  grid-template-columns: 75% 25%;
}

.grid-50-50 {
  grid-template-columns: 50% 50%;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

.rounded-md {
  border-radius: 10px 0 10px 0;
}

.white {
  color: white;
}

.gray {
  color: gray;
}

.black {
  color: var(--carbon-gruvbox);
}

@media only screen and (max-width: 900px) {
  body {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media only screen and (max-width: 690px) {
  body {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}

:root {
  --carbon-gruvbox: #282828;
  --grey-gruvbox: #3c3836;
  --square: 30px;
}

/* Chess table */

.table {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, var(--square));
  grid-template-rows: repeat(8, var(--square));
  gap: 0;
}

.black-square {
  background-color: #fff2f2;
  width: var(--square);
  height: var(--square);
}

.white-square {
  background-color: crimson;
  width: var(--square);
  height: var(--square);
}
