@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
}

h1 {
  font-size: large;
}

button {
  border: none;
  padding: 0.6rem;
  border-radius: 10px 0 10px 0;
  font-size: medium;
  background-color: #bde7bf;
  cursor: pointer;
  margin: 0.2rem;
}

button:hover {
  background-color: #d2f5d4;
}

input {
  background-color: whitesmoke;
  padding: 0.6rem;
  outline: none;
  border: none;
  font-size: medium;
  border-radius: 0 10px 0 10px;
}

body {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

@media only screen and (max-width: 900px) {
  body {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media only screen and (max-width: 690px) {
  body {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}

.project {
  margin-top: 3rem;
}

div {
  --square: 30px;
}

.table {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, var(--square));
  grid-template-rows: repeat(8, var(--square));
  gap: 0;
}

.black {
  background-color: #fff2f2;
  width: var(--square);
  height: var(--square);
}

.white {
  background-color: crimson;
  width: var(--square);
  height: var(--square);
}

#todos {
  margin-top: 1rem;
}

.todo-container {
  display: grid;
  grid-template-columns: 75% 25%;
}
